body {
    background: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width:100%;
}

/*HEADER BAR*/

h1 {
    margin:0;
    font-size:40px;
}

.headerbar {
    background-color: #a9b4ba;
    width:100%;
    padding:10px 0;
}

.header {
    width:260px;
    margin:auto;
}

.header img { 
    width:50px;
    float:right;
    position:relative;
    top:-40px;
}

/*ENTER THINKSPACE BUTTON*/

#enterbutton {
    width:40%;
    margin-left:30%;
    margin-top:50px;
    height:100px;
    border-radius:20px;
    font-size:30px;
    background-color: #01A9E4;
    font-weight:lighter;
    transition:all 0.3s ease 0s;
    cursor:pointer;
    outline:none;
}

#enterbutton:hover {
    background-color:#006db8;
    box-shadow: 0px 10px 20px rgba(90, 96, 99, 0.3);
    transform:translateY(-10px);
    color:white;
}

#enterbutton:active {
    transform:scale(.95,.95);
    transition:0.1s ease 0s;
    box-shadow:0px 15px 20px rgba(122, 130, 135, 0.1);;
}

/*INSTRUCTIONS*/

.instructions {
    width:96%;
    margin:2%;
    padding:2%;
    box-sizing: border-box;
    font-size:25px;
    text-align:center;
}

/*random id*/
#randomid {
    width:20%;
    margin-left:40%;
    font-size:30px;
    border-bottom:1px solid;
    text-align:center;
    transition:all 0.5s ease 0s;
}

#randomid:hover {
    width:30%;
    margin-left:35%;
}

/*images*/

.instructions img {
    width:70%;
}
