body {
    background: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1 {
    margin: 0;
}

.headerbar {
    background-color: #a9b4ba;
    width: 100%;
    padding: 10px 0;
}

.header {
    width: 225px;
    margin: auto;
}

.header img {
    width: 50px;
    float: right;
    position: relative;
    top: -40px;

}

.welcome {
    font-size: 50px;
    margin-top: 50px;
    padding: 0px;
    text-align:center;
    line-height:0;
    
}

.loginbigbox {
    width: 45%;
    float:left;
    text-align:center;
}

.signupbigbox {
    width: 45%;
    float:right;
    text-align:center;
}

.login, .signup {
    width: 60%;
    float: left;
    background-color: #a9b4ba;
    border-radius: 4px;
    padding-top:100px;
    height:300px;
    margin: 30px;
    margin-left:40%;
    padding-left: 30px;
    text-align:left;
}

.signup {
    float: right;
    margin-right:40%;
}

.log {
    margin-left:40%;
}

.sign {
    margin-right:40%;
}

input {
    border-radius: 4px;
}

#l_phone {
    max-width: 100%;
    display: inline-block;
}

#l_submit, #s_submit {
    background-color: #192028;
    color: white;
    height:35px;
    border-radius:4px;
}
/*SHAKE*/

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(1px); }
  10% { transform: translateX(-1px); }
  20% { transform: translateX(-2px); }
  30% { transform: translateX(2px); }
  40% { transform: translateX(3px); }
  50% { transform: translateX(-3px); }
  60% { transform: translateX(-2px); }
  70% { transform: translateX(2px); }
  80% { transform: translateX(-1px); }
  90% { transform: translateX(1px); }
  100% { transform: translateX(1px); }
}
