body {
    background: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1 {
    margin: 0;
}

.headerbar {
    background-color: #a9b4ba;
    width: 100%;
    padding: 10px 0;
}

.header {
    width: 225px;
    margin: auto;
}

.header img {
    width: 50px;
    float: right;
    position: relative;
    top: -40px;

}

.welcome {
    font-size: 175px;
    margin: 0px;
    padding: 0px;
    
}

.loginbigbox {
    width: 45%;
    float:left;
}

.signupbigbox {
    width: 45%;
    float:right;
}

.login {
    width: 60%;
    float: left;
    background-color: #a9b4ba;
    border-radius: 4px;
    padding-top:200px;
    height:400px;
    margin: 30px;
    margin-left:40%;
    padding-left: 30px;
}

.signup {
    width: 60%;
    float: right;
    background-color: #a9b4ba;
    border-radius: 4px;
    padding-top:200px;
    height:400px;
    margin: 30px;
    margin-right:40%;
    padding-left:30px;
}

.log {
    margin-left:40%;
}

.sign {
    margin-right:40%;
}

#lphone_form {
    border-radius: 4px;
}


#lpass_form {
    border-radius: 4px;
}

#sphone_form {
    border-radius: 4px;

}

#spass_form {
    border-radius: 4px;
}

#sre_enterpass {
    border-radius: 4px;
}

#lphone_form {
    max-width: 100%;
    display: inline-block;
}

#lsubmit {
    border-radius: 4px;
    background-color: #192028;
    color: white;
    float:right;
    margin: 5%;
    margin-top: 32%;
}

#ssubmit {
    border-radius: 4px;
    background-color: #192028;
    color: white;
    float: right;
    margin: 5%;
}