body {
    background: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-y: hidden;
}

/*Header*/
h1 {
    margin: 0;
}

.headerbar {
    background-color: #a9b4ba;
    width: 100%;
    padding: 10px;
    height: 25%;

}

.header {
    width: 225px;
    margin: auto;
}

.header img {
    width: 50px;
    float: right;
    position: relative;
    top: -40px;
    }

/*DROPDOWN*/

.dropdown {
    width: 140px;
    height: 25px;
    position: absolute;
    right: 1%;
    top: 20px;
}

/*profile photo*/

#profilephoto {
    height: 25px;
    box-sizing: border-box;
    float: left;
    border-radius: 4px;
    background-color: #192028;
}

/*id number*/

#idnumber {
    float: left;
    height: 25px;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 1px;
}
/*drop button*/

#dropbtn {
    height: 15px;
    float: right;
    position: relative;
    top: 5px;
    cursor: pointer;
}

/*DROPDOWN CONTENT*/

.content {
    width: 200px;
    position: absolute;
    top: 50px;
    right: 1px;
    height: 193px;
    background-color: #192028;
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,.2);
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

#content {
    display: none;
}

/*avatars*/

#mainimg {
    width: 66px;
    margin: 8.3px;
}

.iconoptions {
    width: 116.6px;
    float: right;
    position: relative;
    top: 9px;
}

    .iconoptions img {
        width: 30px;
        float: left;
        margin: 3.3px;
        border-radius: 4px;
        cursor: pointer;
    }

        .iconoptions img:hover {
            background-color: #2e3b4a;
        }

        .iconoptions img:active {
            background-color: #4a5f78;
        }

/*id field*/

.changeid {
    margin: 5% 10%;
}

.idfield {
    background-color: white;
    float: left;
    width: 70%;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}

#die {
    width: 13%;
    float: right;
    position: relative;
    top: 5px;
    padding: 1%;
    cursor: pointer;
}

/*premium*/

.premium {
    background-color: #01A9E4;
    width: 100%;
    position: relative;
    top: 29%;
    height: 40px;
    transition: all 0.2s ease-in-out;
}

    .premium p {
        line-height: normal;
        position: relative;
        top: -22px;
        left: 13px;
        font-size: 15px;
    }

    .premium:hover {
        background-color: #006db8;
        cursor: pointer;
    }

    .premium:active {
        background-color: #192028;
        color: white;
    }

/*TOPICS*/

.topics {
    margin: 50px 29.5vw;
}

    /*button*/

    .topics div:not(.left):not(.right) {
        transition: all 0.2s ease-in-out;
    }

    .topics div:hover:not(.left):not(.right) {
        transform: translateY(-10px);
        box-shadow: 0 2px 10px 1px rgba(0,0,0,.1);
    }

    .topics div:active:not(.left):not(.right) {
        transform: translateY(-7px);
        box-shadow: 0 2px 10px 1px rgba(0,0,0,.1);
        transform: scale(.97);
    }

.left, .right {
    width: 18vw;
    display: inline-block;
}

.right {
    position: absolute;
    right: 29.5vw;
}

.left div, .right div {
        height: 18vw;
        margin-bottom: 4.5vw;
        border-radius: 5px;
        margin-top:250px;
    }

/*background colors*/
.colorbar {
    background-color: #58CAE5;
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    position: absolute;
    top: 63px;
}
#sports {
    background-color: white;
    color: black;
    position:relative;
    left:-70%;

}

#tech {
    background-color: white;
    color: black;
    position:relative;
    right:-70%;

}

/*text*/
p {
    margin: 0;
    padding: 5px;
    position: relative;
    top: 7vw;
    font-size: calc(2px + 2vw);
}

h4{
    float:left;
    margin-top:10px;
}
