body {
    background: #1371bb;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    width:100%;
}

  /* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #30abdf;
}

.background-box {
    display: block;
    background-color: white;
    color: white;
    height: 120px;
    padding: 0;
    margin: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 40px;
    border-radius:4px;
}

#subheader {
    margin-left: 760px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #1371bb;
}

/* News Box 1*/
#image1 {
    height: 120px;
    width: 200px;
    border-radius:4px;
}

#title1 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-130px;
}

#subtitle1 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-135px;
    color: #1371bb;
}

/* News Box 2*/
#image2 {
    height: 120px;
    width: 200px;
    border-radius: 4px;
}

#title2 {
    margin-left: 225px;
    margin-right: 20px;
    top: 100px;
    position:relative;
    top:-130px;
}

#subtitle2 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-135px;
    color: #1371bb;
}

/* News Box 3*/
#image3 {
    height: 120px;
    width: 200px;
    border-radius:4px;
}

#title3 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-130px;
}

#subtitle3 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-135px;
    color: #1371bb;
}

/* News Box 4*/
#image4 {
    height: 120px;
    width: 200px;
    border-radius: 4px;
}

#title4 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-130px;
}

#subtitle4 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-135px;
    color: #1371bb;
}

/* News Box 5*/
#image5 {
    height: 120px;
    width: 200px;
    border-radius 4px;
}

#title5 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-130px;
}

#subtitle5 {
    margin-left: 225px;
    margin-right: 10px;
    top: 100px;
    position:relative;
    top:-135px;
    color: #1371bb;
}

/* Header */

h1 {
    margin:0;
}

h4{
    float:left;
    margin-top:10px;
    margin-left: 10px;
}

.headerbar {
    background-color: #a9b4ba;
    width:100%;
    padding:10px 0;
}

.header {
    width:225px;
    margin:auto;
}

.header img { 
    width:50px;
    float:right;
    position:relative;
    top:-40px;
}

/* DROPDOWN */

.dropdown {
    width:140px;
    height:25px;
    position:absolute;
    right:1%;
    top:20px;
}

/*profile photo*/

#profilephoto {
    height:25px;
    box-sizing:border-box;
    float:left;
    border-radius:4px;
    background-color:#192028;
}

/*id number*/

p {
    margin:0;
}

#idnumber {
    float:left;
    height:25px;
    font-size:17px;
    margin-left:10px;
    margin-top:1px;
}
/*drop button*/

#dropbtn {
    height:15px;
    float:right;
    position:relative;
    top:5px;
    cursor:pointer;
}

/*DROPDOWN CONTENT*/

.content {
    width:200px;
    position:absolute;
    top:50px;
    right:1px;
    height:193px;
    background-color:#192028;
    box-shadow:3px 3px 5px 5px rgba(0,0,0,.2);
    z-index:1;
    overflow-y:hidden;
    overflow-x:hidden;
}

#content {
    display:none;
}

/*avatars*/

#mainimg {
    width:66px;
    margin:8.3px;
}

.iconoptions {
    width:116.6px;
    float:right;
    position:relative;
    top:9px;
}

.iconoptions img {
    width:30px;
    float:left;
    margin:3.3px;
    border-radius:4px;
    cursor:pointer;
}

.iconoptions img:hover {
    background-color:#2e3b4a;
}

.iconoptions img:active {
    background-color:#4a5f78;
}

/*id field*/

.changeid {
    margin:5% 10%;
}

.idfield {
    background-color:white;
    float:left;
    width:70%;
    padding:5px;
    border-radius:4px;
    text-align:center;
}

#die {
    width:13%;
    float:right;
    position:relative;
    top:5px;
    padding:1%;
    cursor:pointer;
}

/*premium*/

.premium {
    background-color:#01A9E4;
    width:100%;
    position:relative;
    top:29%;
    height:40px;
    transition:all 0.2s ease-in-out;
}

.premium p {
    line-height:0;
    position:relative;
    top:-10px;
    left:13px;
}

.premium:hover {
    background-color:#006db8;
    cursor:pointer;
}

.premium:active {
    background-color:#192028;
    color:white;

}





.feedgrabbr_widget {
    margin-left: 250px;
    margin-top: 10px;
    width: 70%;
}

